.renderedPost {
    width: 85%;
    height: fit-content;
    padding: 12px 15px;
    background-color: #07cd4c;
    border-radius: 20px;
    margin-top: 10px;
}

.renderedPost p {
    color: white;
    font-size: 17px;
    text-align: left;
    width: 400px;
    word-wrap: break-word;
}

.button {
    cursor: pointer;
    width: fit-content;
    padding:6px;
    border-radius: 15px;
    background-color: #047a2d;
    text-align: center;
    font-size: 15px;
    border: 0px;
    color: #fff;
    margin: 5px;
}

.button:hover{
    background-color: #00a138;
  }

.Task-list ul {
    list-style-type: none;
    position: absolute;
    overflow: auto;

    height: 90%;
    margin-top: 2px;
}

.Task-list h2 {
    width: 94.5%;
    padding: 20px;
    background-color: #07cd4c;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
   
}

@media only screen and (min-width: 320px) and (max-width: 600px) {

.Task-list {
    overflow: auto;
}

.Task-list ul {
    height: 50%;
}

.Task-list h2 {
    width: 80%;
    padding-top: 0.5em;
    padding-bottom: 0.5em ;
}

.renderedPost {
    width: 30%;
    padding-top: 0.2em;
    padding-bottom: 0.2em ;
    font-size: 0.8em;
    height: 50%;
}

.renderedPost p {
    margin: 0.4em;
}

.renderedPost h2 {
    margin: 0.3em;
}

.button {
    font-size: 0.6em;
}


  }
  